/* Font & Colors and Imports */
/* _____________________________________________________________________________________________________________ */

/* Font */
@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

/* Normal */
:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --navy: #0a3250;
  --black: #000000;
}

/* Accessibility */

@media (prefers-contrast: more) {

  :root {
    --green: #135c29;
  }

}

/* Elements */
/* _____________________________________________________________________________________________________________ */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: 'AvantGardeGothicMedium', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul, li {
  list-style: none;
  padding: 0;
}

span {
  color: var(--green);
}

/* Header */
/* _____________________________________________________________________________________________________________ */

header {
  display: flex;
  flex-direction: column;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__branding {
  margin: 0.6em;
  font-size: 1.6em;
  font-weight: bold;
}

.header__icon {
  margin: 0.6em;
  height: 32px;
  width: 32px;
}

.header__nav a {
  border-bottom: 2px solid var(--grey);
  padding: 0.6em;
}

.header__nav a:first-of-type {
  border-top: 2px solid var(--grey);
}

.header__nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  max-height: 0;
  transition: max-height .3s ease-in-out;
}

.header__nav--visible {
  max-height: 20vh;
}

/* Main */
/* _____________________________________________________________________________________________________________ */

.main__hero {
  min-height: 12em;
  min-width: 24em;
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("../assets/initiatief-cover.jpg");
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.main__hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.main__hero-title {
  font-size: 2em;
}

.main__description {
  max-width: 88vw;
  margin: 0 auto;
  border-bottom: 4px solid var(--navy);
}

.main__description p {
  max-width: 30em;
}

.main__link {
  color: var(--green);
  text-decoration: underline;
}

.main__info li {
  display: flex;
  gap: 1em;
}

.main__list {
  width: 89vw;
  margin: 0 auto;
  border-bottom: 4px solid var(--navy);
}

iframe {
  display: block;
  height: 60vw;
  width: 88vw;
  border-radius: 8px;
  margin: 2em auto;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

}


/* Footer */
/* _____________________________________________________________________________________________________________ */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--navy);
  color: var(--white);
  padding: 2em;
}

footer img {
  width: 32px;
  width: 32px;
  filter: invert(100%) sepia(6%) saturate(24%) hue-rotate(141deg) brightness(106%) contrast(105%);
}

footer h4 {
  font-size: 2em;
  margin: 1em;
  margin-top: 0;
}

.footer__social-links {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  padding-bottom: 1.4em;
  margin-bottom: 1.4em;
  border-bottom: 2px solid var(--white);
}

.footer__social-links a {
  height: 32px;
  width: 32px;
}

.footer__corporate-links {
  display: flex;
  flex-direction: row;
}

.footer__corporate-links a {
  padding: 0 1em;
}

.footer__corporate-links a:not(:last-child) {
  border-right: 2px solid var(--white);
}

/* Media Queries */
/* _____________________________________________________________________________________________________________ */