/* Font & Colors and Imports */
/* _____________________________________________________________________________________________________________ */

/* Font */
@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

/* Normal */
:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --navy: #0a3250;
  --black: #000000;
}

/* Accessibility */

@media (prefers-contrast: more) {

  :root {
    --green: #135c29;
  }

}

/* Elements */
/* _____________________________________________________________________________________________________________ */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: 'AvantGardeGothicMedium', sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul, li {
  list-style: none;
}

/* Navigation */
/* _____________________________________________________________________________________________________________ */



/* Main */
/* _____________________________________________________________________________________________________________ */



/* Footer */
/* _____________________________________________________________________________________________________________ */



/* Media Queries */
/* _____________________________________________________________________________________________________________ */